<div class="top-bar">
    <h1>Top 5 Fav Artists</h1>
</div>

<div class="total-artist-section">
    <!--TODO Create conditional color checking for h2 element-->
    <h2 [ngClass] = "{ 'red': totalArtist < 0, 'green': totalArtist > 0 }">{{ totalArtist }}</h2>
</div>

<!-- Add Artist item Section -->
<!-- A List of all of our Artists -->
<section class="add-item-section">
    <div class="add-item-container">
        <!-- TODO Add Angular Form for adding info -->
        <app-add-artist-form style="padding:20px;" (formSubmit) = 'addArtist($event)'></app-add-artist-form>
    </div>
</section>

<hr style="margin-top:0px;">

<app-artist-item-list [artistItems] = "artistItems" (delete) = "deleteInfo($event)" (update) = "updateItem($event)"></app-artist-item-list>